## Preparing A Dataset for Modeling  
### 04-Apr-2019 Lou Pendley  
### Version 1.0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [21]:
# Let's read in the data set
DataFilePath = '../../../../Datafiles'
df = pd.read_csv(DataFilePath + '/imdb-data-from-2006-to-2016.zip', 
                 compression='zip', header=0, sep=',', quotechar='"')
df['first_genre'] = df['Genre'].apply(lambda x: x.split(',')[0])
df['first_actor'] = df['Actors'].apply(lambda x: x.split(',')[0])

In [38]:
df['first_actor'].head(2)

507    Zooey Deschanel
30         Zoey Deutch
Name: first_actor, dtype: object

In [36]:
df['first_genre'].sample(5)

535     Action
733    Mystery
430     Comedy
580     Action
524      Crime
Name: first_genre, dtype: object

In [54]:
# print(df['first_actor'].unique())
sort_by = ['first_actor']

# We will want to group by Station ID: start, and end
df_sorted_actor=pd.DataFrame()
df_sorted_actor=df.sort_values(by=sort_by, ascending=False)
# print(df_sorted_actor)
df_sorted_actor.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore', 'first_genre', 'first_actor'],
      dtype='object')

In [82]:
df_sorted_genre = df.sort_values(by=['first_genre'])
print("there are {} distinct genres.".format(len(df_sorted_genre['first_genre'].unique())))
for name in df_sorted_genre['first_genre'].unique():
    print("first genre is {}".format(name))

there are 13 distinct genres.
first genre is Action
first genre is Adventure
first genre is Animation
first genre is Biography
first genre is Comedy
first genre is Crime
first genre is Drama
first genre is Fantasy
first genre is Horror
first genre is Mystery
first genre is Romance
first genre is Sci-Fi
first genre is Thriller

In [86]:
i = 1
df_sorted_first_actor = df.sort_values(by=['first_actor'])
print("there are {} distinct first actors.".format(len(df_sorted_first_actor['first_actor'].unique())))
for name in df_sorted_first_actor['first_actor'].unique():
    print("first actor number {} is {}".format(i, name))
    i += 1

there are 525 distinct first actors.
first actor number 1 is Aamir Khan
first actor number 2 is Aaron Paul
first actor number 3 is Aaron Poole
first actor number 4 is Aaron Taylor-Johnson
first actor number 5 is Abbie Cornish
first actor number 6 is Abigail Breslin
first actor number 7 is Adam Driver
first actor number 8 is Adam Pally
first actor number 9 is Adam Sandler
first actor number 10 is Adrian Grenier
first actor number 11 is Adrian Titieni
first actor number 12 is Adrien Brody
first actor number 13 is Alex Karpovsky
first actor number 14 is Alex Pettyfer
first actor number 15 is Alexander Skarsgård
first actor number 16 is Alexandra Daddario
first actor number 17 is Alexi Pappas
first actor number 18 is Alia Bhatt
first actor number 19 is Alia Shawkat
first actor number 20 is Alice Englert
first actor number 21 is Alicia Vikander
first actor number 22 is Alison Brie
first actor number 23 is Alycia Debnam-Carey
first actor number 24 is Amanda Bynes
first actor number 25 is Amber Perkins
first actor number 26 is Amy Adams
first actor number 27 is Amy Poehler
first actor number 28 is Amy Schumer
first actor number 29 is Ana de Armas
first actor number 30 is Andrew Garfield
first actor number 31 is Andy Powers
first actor number 32 is Andy Samberg
first actor number 33 is Angelina Jolie
first actor number 34 is Anika Noni Rose
first actor number 35 is Anna Faris
first actor number 36 is Anna Hutchison
first actor number 37 is Anna Kendrick
first actor number 38 is Anne Dorval
first actor number 39 is Anne Hathaway
first actor number 40 is Annette Bening
first actor number 41 is Anthony Hopkins
first actor number 42 is Anton Adasinsky
first actor number 43 is Anton Yelchin
first actor number 44 is Antonio Banderas
first actor number 45 is Anya Taylor-Joy
first actor number 46 is Aomi Muyock
first actor number 47 is Armie Hammer
first actor number 48 is Arnold Schwarzenegger
first actor number 49 is Asa Butterfield
first actor number 50 is Auli'i Cravalho
first actor number 51 is Ben Affleck
first actor number 52 is Ben Barnes
first actor number 53 is Ben Burtt
first actor number 54 is Ben Stiller
first actor number 55 is Ben Whishaw
first actor number 56 is Ben Winchell
first actor number 57 is Benedict Cumberbatch
first actor number 58 is Benjamin Walker
first actor number 59 is Billy Crystal
first actor number 60 is Billy Magnussen
first actor number 61 is Blake Jenner
first actor number 62 is Blake Lively
first actor number 63 is Brad Garrett
first actor number 64 is Brad Pitt
first actor number 65 is Bradley Cooper
first actor number 66 is Brandon Routh
first actor number 67 is Brendan Fraser
first actor number 68 is Brenton Thwaites
first actor number 69 is Brian Cox
first actor number 70 is Brian White
first actor number 71 is Brie Larson
first actor number 72 is Brittany Blanton
first actor number 73 is Bruce Willis
first actor number 74 is Bryan Cranston
first actor number 75 is Bryce Dallas Howard
first actor number 76 is Byung-hun Lee
first actor number 77 is Callan McAuliffe
first actor number 78 is Callum Turner
first actor number 79 is Cameron Diaz
first actor number 80 is Carmen Electra
first actor number 81 is Casey Affleck
first actor number 82 is Cate Blanchett
first actor number 83 is Chadwick Boseman
first actor number 84 is Channing Tatum
first actor number 85 is Charlie Cox
first actor number 86 is Charlie Hunnam
first actor number 87 is Charlize Theron
first actor number 88 is Charlotte Gainsbourg
first actor number 89 is Chiwetel Ejiofor
first actor number 90 is Chloë Grace Moretz
first actor number 91 is Chris Evans
first actor number 92 is Chris Hemsworth
first actor number 93 is Chris Isaak
first actor number 94 is Chris Pine
first actor number 95 is Chris Pratt
first actor number 96 is Christian Bale
first actor number 97 is Christopher Plummer
first actor number 98 is Christos Stergioglou
first actor number 99 is Cillian Murphy
first actor number 100 is Clint Eastwood
first actor number 101 is Clive Owen
first actor number 102 is Colin Farrell
first actor number 103 is Colin Firth
first actor number 104 is Connor Paolo
first actor number 105 is Cynthia Nixon
first actor number 106 is Daisy Ridley
first actor number 107 is Dakota Fanning
first actor number 108 is Dakota Johnson
first actor number 109 is Dan Crisafulli
first actor number 110 is Dan Stevens
first actor number 111 is Dane DeHaan
first actor number 112 is Daniel Brühl
first actor number 113 is Daniel Craig
first actor number 114 is Daniel Day-Lewis
first actor number 115 is Daniel Radcliffe
first actor number 116 is Danny McBride
first actor number 117 is Darsheel Safary
first actor number 118 is Darío Grandinetti
first actor number 119 is Dave Bautista
first actor number 120 is Dave Johns
first actor number 121 is David Oyelowo
first actor number 122 is Dennis Quaid
first actor number 123 is Denzel Washington
first actor number 124 is Dev Patel
first actor number 125 is Diane Lane
first actor number 126 is Diego Luna
first actor number 127 is Dieter Laser
first actor number 128 is Domhnall Gleeson
first actor number 129 is Dominic Monaghan
first actor number 130 is Dwayne Johnson
first actor number 131 is Dylan Duffus
first actor number 132 is Dylan O'Brien
first actor number 133 is Ed Helms
first actor number 134 is Eddie Murphy
first actor number 135 is Eddie Redmayne
first actor number 136 is Edgar Ramírez
first actor number 137 is Edward Asner
first actor number 138 is Edward Norton
first actor number 139 is Elijah Wood
first actor number 140 is Elisabeth Moss
first actor number 141 is Elisabeth Shue
first actor number 142 is Elizabeth Reaser
first actor number 143 is Ellar Coltrane
first actor number 144 is Elle Fanning
first actor number 145 is Ellen DeGeneres
first actor number 146 is Ellen Page
first actor number 147 is Ellie Kendrick
first actor number 148 is Emile Hirsch
first actor number 149 is Emilia Clarke
first actor number 150 is Emily Baldoni
first actor number 151 is Emily Blunt
first actor number 152 is Emily Browning
first actor number 153 is Emma Booth
first actor number 154 is Emma Roberts
first actor number 155 is Emma Stone
first actor number 156 is Emma Thompson
first actor number 157 is Emma Watson
first actor number 158 is Emmanuel Garijo
first actor number 159 is Eric Bana
first actor number 160 is Erika Linder
first actor number 161 is Essie Davis
first actor number 162 is Ethan Hawke
first actor number 163 is Eva Green
first actor number 164 is Evan Rachel Wood
first actor number 165 is Eve Lindley
first actor number 166 is Ewan McGregor
first actor number 167 is Ezra Miller
first actor number 168 is Felicity Jones
first actor number 169 is Ferdia Walsh-Peelo
first actor number 170 is Fiona Gordon
first actor number 171 is Fionn O'Shea
first actor number 172 is Florence Pugh
first actor number 173 is Forest Whitaker
first actor number 174 is Frank Grillo
first actor number 175 is François Cluzet
first actor number 176 is Freddie Highmore
first actor number 177 is Gabourey Sidibe
first actor number 178 is Gabriel Chavarria
first actor number 179 is Gabriella Wilde
first actor number 180 is Garance Marillier
first actor number 181 is Garrett Clayton
first actor number 182 is Gary Oldman
first actor number 183 is Gaspard Schlatter
first actor number 184 is Gemma Arterton
first actor number 185 is Geoffrey Rush
first actor number 186 is George Clooney
first actor number 187 is Gerard Butler
first actor number 188 is Gerardo Taracena
first actor number 189 is Ginnifer Goodwin
first actor number 190 is Giuseppe Battiston
first actor number 191 is Graham Skipper
first actor number 192 is Hailee Steinfeld
first actor number 193 is Harrison Ford
first actor number 194 is Hayden Christensen
first actor number 195 is Heather Sossaman
first actor number 196 is Helen Mirren
first actor number 197 is Henry Cavill
first actor number 198 is Hermione Corfield
first actor number 199 is Hilary Swank
first actor number 200 is Hiroki Hasegawa
first actor number 201 is Hugh Jackman
first actor number 202 is Ian McKellen
first actor number 203 is Ice Cube
first actor number 204 is Idris Elba
first actor number 205 is Isabelle Huppert
first actor number 206 is Ivana Baquero
first actor number 207 is Jack Black
first actor number 208 is Jack Huston
first actor number 209 is Jack O'Connell
first actor number 210 is Jackie Chan
first actor number 211 is Jackie Earle Haley
first actor number 212 is Jacob Latimore
first actor number 213 is Jaden Smith
first actor number 214 is Jahking Guillory
first actor number 215 is Jake Gyllenhaal
first actor number 216 is Jake Johnson
first actor number 217 is Jamal Woolard
first actor number 218 is James Allen McCune
first actor number 219 is James Badge Dale
first actor number 220 is James Franco
first actor number 221 is James Marsden
first actor number 222 is James McAvoy
first actor number 223 is Jamie Dornan
first actor number 224 is Jamie Foxx
first actor number 225 is Jane Levy
first actor number 226 is Jared Gilman
first actor number 227 is Jared Leto
first actor number 228 is Jared Padalecki
first actor number 229 is Jason Bateman
first actor number 230 is Jason Biggs
first actor number 231 is Jason Clarke
first actor number 232 is Jason Momoa
first actor number 233 is Jason Segel
first actor number 234 is Jason Statham
first actor number 235 is Jason Sudeikis
first actor number 236 is Jay Baruchel
first actor number 237 is Jeff Bridges
first actor number 238 is Jemaine Clement
first actor number 239 is Jennifer Aniston
first actor number 240 is Jennifer Garner
first actor number 241 is Jennifer Lawrence
first actor number 242 is Jennifer Lopez
first actor number 243 is Jeremy Renner
first actor number 244 is Jesse Eisenberg
first actor number 245 is Jessica Brown Findlay
first actor number 246 is Jessica Chastain
first actor number 247 is Jim Carrey
first actor number 248 is Jim Parsons
first actor number 249 is Jim Sturgess
first actor number 250 is Joaquin Phoenix
first actor number 251 is Jocelin Donahue
first actor number 252 is Joe Alwyn
first actor number 253 is Joel Kinnaman
first actor number 254 is John C. Reilly
first actor number 255 is John Cusack
first actor number 256 is John Francis Daley
first actor number 257 is John Gallagher Jr.
first actor number 258 is John Goodman
first actor number 259 is John Krasinski
first actor number 260 is John Travolta
first actor number 261 is Johnny Depp
first actor number 262 is Johnny Simmons
first actor number 263 is Jon Favreau
first actor number 264 is Jonah Hill
first actor number 265 is Joseph Gordon-Levitt
first actor number 266 is Josh Brolin
first actor number 267 is Josh Hartnett
first actor number 268 is Josh Hutcherson
first actor number 269 is Josh Stewart
first actor number 270 is Julianne Hough
first actor number 271 is Julianne Moore
first actor number 272 is Jun Kunimura
first actor number 273 is Justin Chatwin
first actor number 274 is Justin Long
first actor number 275 is Justin Timberlake
first actor number 276 is Kang-ho Song
first actor number 277 is Karen Gillan
first actor number 278 is Karl Urban
first actor number 279 is Kate Beckinsale
first actor number 280 is Kate Bosworth
first actor number 281 is Kate Hudson
first actor number 282 is Kate Mara
first actor number 283 is Kate Winslet
first actor number 284 is Katherine Heigl
first actor number 285 is Katie Cassidy
first actor number 286 is Keanu Reeves
first actor number 287 is Keegan-Michael Key
first actor number 288 is Keira Knightley
first actor number 289 is Kelly Macdonald
first actor number 290 is Kenny Wormald
first actor number 291 is Kevin Costner
first actor number 292 is Kevin Spacey
first actor number 293 is Kirsten Dunst
first actor number 294 is Kit Harington
first actor number 295 is Kodi Smit-McPhee
first actor number 296 is Kristen Bell
first actor number 297 is Kristen Connolly
first actor number 298 is Kristen Stewart
first actor number 299 is Kristen Wiig
first actor number 300 is Kurt Russell
first actor number 301 is Lake Bell
first actor number 302 is Lambert Wilson
first actor number 303 is Larenz Tate
first actor number 304 is Laura Dern
first actor number 305 is Lauren Birkell
first actor number 306 is Lauren Cohan
first actor number 307 is Lauren German
first actor number 308 is Lee Pace
first actor number 309 is Leonardo DiCaprio
first actor number 310 is Levi Miller
first actor number 311 is Lewis MacDougall
first actor number 312 is Liam Hemsworth
first actor number 313 is Liam Neeson
first actor number 314 is Lily Collins
first actor number 315 is Lily James
first actor number 316 is Lily-Rose Depp
first actor number 317 is Logan Lerman
first actor number 318 is Logan Marshall-Green
first actor number 319 is Logan Paul
first actor number 320 is Lorenza Izzo
first actor number 321 is Louis C.K.
first actor number 322 is Lubna Azabal
first actor number 323 is Lucas Black
first actor number 324 is Lucas Till
first actor number 325 is Luke Evans
first actor number 326 is Luke Treadaway
first actor number 327 is Luke Wilson
first actor number 328 is Lyndsy Fonseca
first actor number 329 is Léa Seydoux
first actor number 330 is Maddy Curley
first actor number 331 is Madina Nalwanga
first actor number 332 is Mads Mikkelsen
first actor number 333 is Mae Whitman
first actor number 334 is Mahershala Ali
first actor number 335 is Maika Monroe
first actor number 336 is Malcolm McDowell
first actor number 337 is Mandy Moore
first actor number 338 is Marilyn Manson
first actor number 339 is Mario Casas
first actor number 340 is Mark Chao
first actor number 341 is Mark Huberman
first actor number 342 is Mark Ruffalo
first actor number 343 is Mark Rylance
first actor number 344 is Mark Wahlberg
first actor number 345 is Martin Freeman
first actor number 346 is Matt Damon
first actor number 347 is Matt Vael
first actor number 348 is Matthew McConaughey
first actor number 349 is Megan Fox
first actor number 350 is Mel Gibson
first actor number 351 is Melissa George
first actor number 352 is Melissa McCarthy
first actor number 353 is Meryl Streep
first actor number 354 is Mia Goth
first actor number 355 is Mia Wasikowska
first actor number 356 is Michael B. Jordan
first actor number 357 is Michael Caine
first actor number 358 is Michael Cera
first actor number 359 is Michael Fassbender
first actor number 360 is Michael Keaton
first actor number 361 is Michael Nyqvist
first actor number 362 is Michael Pitt
first actor number 363 is Michael Shannon
first actor number 364 is Michael Vartan
first actor number 365 is Michelle Williams
first actor number 366 is Mickey Rourke
first actor number 367 is Mike Vogel
first actor number 368 is Mila Kunis
first actor number 369 is Miles Teller
first actor number 370 is Milla Jovovich
first actor number 371 is Min-hee Kim
first actor number 372 is Miyu Irino
first actor number 373 is Morgan Freeman
first actor number 374 is Morgan Saylor
first actor number 375 is Morjana Alaoui
first actor number 376 is Munro Chambers
first actor number 377 is Naomi Watts
first actor number 378 is Nat Wolff
first actor number 379 is Natalie Portman
first actor number 380 is Natasha Henstridge
first actor number 381 is Nathalie Baye
first actor number 382 is Nathan Fillion
first actor number 383 is Neel Sethi
first actor number 384 is Neve Campbell
first actor number 385 is Nia Vardalos
first actor number 386 is Nicholas D'Agosto
first actor number 387 is Nicholas Hoult
first actor number 388 is Nick Robinson
first actor number 389 is Nicolas Cage
first actor number 390 is Nicole Kidman
first actor number 391 is Noah Ringer
first actor number 392 is Noomi Rapace
first actor number 393 is O'Shea Jackson Jr.
first actor number 394 is Olivia DeJonge
first actor number 395 is Omar Sy
first actor number 396 is Oscar Isaac
first actor number 397 is Owen Wilson
first actor number 398 is Patrick Stewart
first actor number 399 is Patrick Wilson
first actor number 400 is Paul Bettany
first actor number 401 is Paul Dano
first actor number 402 is Paul Giamatti
first actor number 403 is Paul Rudd
first actor number 404 is Paul Sidhu
first actor number 405 is Philip Seymour Hoffman
first actor number 406 is Pierce Brosnan
first actor number 407 is Pierre Niney
first actor number 408 is Prabhas
first actor number 409 is Quinton Aaron
first actor number 410 is Quvenzhané Wallis
first actor number 411 is Rachel Weisz
first actor number 412 is Radha Mitchell
first actor number 413 is Rainn Wilson
first actor number 414 is Ralph Fiennes
first actor number 415 is Ray Romano
first actor number 416 is Ray Winstone
first actor number 417 is Rebecca Hall
first actor number 418 is Reese Witherspoon
first actor number 419 is Reiko Aylesworth
first actor number 420 is Renée Zellweger
first actor number 421 is Rhona Mitra
first actor number 422 is Ricardo Darín
first actor number 423 is Richard Gere
first actor number 424 is Riley Keough
first actor number 425 is Riz Ahmed
first actor number 426 is Robert De Niro
first actor number 427 is Robert Downey Jr.
first actor number 428 is Robert Hoffman
first actor number 429 is Robert Pattinson
first actor number 430 is Rolf Lassgård
first actor number 431 is Romain Duris
first actor number 432 is Ron Perlman
first actor number 433 is Rooney Mara
first actor number 434 is Rose McGowan
first actor number 435 is Russell Crowe
first actor number 436 is Ruth Negga
first actor number 437 is Ruth Wilson
first actor number 438 is Ryan Gosling
first actor number 439 is Ryan Potter
first actor number 440 is Ryan Reynolds
first actor number 441 is Ryûnosuke Kamiki
first actor number 442 is Sacha Baron Cohen
first actor number 443 is Sally Field
first actor number 444 is Salma Hayek
first actor number 445 is Sam Neill
first actor number 446 is Sam Rockwell
first actor number 447 is Sam Worthington
first actor number 448 is Samantha Robinson
first actor number 449 is Samuel L. Jackson
first actor number 450 is Sandra Bullock
first actor number 451 is Sandra Hüller
first actor number 452 is Saoirse Ronan
first actor number 453 is Sarah Butler
first actor number 454 is Sarah Hyland
first actor number 455 is Sarah Jessica Parker
first actor number 456 is Sasha Lane
first actor number 457 is Scarlett Johansson
first actor number 458 is Scott Adkins
first actor number 459 is Scott Eastwood
first actor number 460 is Scott Speedman
first actor number 461 is Sean Faris
first actor number 462 is Sean Penn
first actor number 463 is Seth MacFarlane
first actor number 464 is Seth Rogen
first actor number 465 is Shailene Woodley
first actor number 466 is Shameik Moore
first actor number 467 is Sharlto Copley
first actor number 468 is Shia LaBeouf
first actor number 469 is Sigourney Weaver
first actor number 470 is Simon Pegg
first actor number 471 is Sofia Black-D'Elia
first actor number 472 is Sophie Nélisse
first actor number 473 is Srdjan 'Zika' Todorovic
first actor number 474 is Stephen Lang
first actor number 475 is Steve Carell
first actor number 476 is Stuart Graham
first actor number 477 is Sullivan Stapleton
first actor number 478 is Suraj Sharma
first actor number 479 is Sylvester Stallone
first actor number 480 is Taraji P. Henson
first actor number 481 is Taraneh Alidoosti
first actor number 482 is Taron Egerton
first actor number 483 is Tatiana Pauhofová
first actor number 484 is Taylor Kitsch
first actor number 485 is Ted Levine
first actor number 486 is Teresa Palmer
first actor number 487 is Thomas Haden Church
first actor number 488 is Thomas Jane
first actor number 489 is Thomas Mann
first actor number 490 is Tilda Swinton
first actor number 491 is Tim Pigott-Smith
first actor number 492 is Tina Fey
first actor number 493 is Tobey Maguire
first actor number 494 is Tom Cruise
first actor number 495 is Tom Hanks
first actor number 496 is Tom Hardy
first actor number 497 is Tom Hiddleston
first actor number 498 is Tom Hughes
first actor number 499 is Tommy Lee Jones

In [65]:
grouping_columns = ['first_actor']
sort_by_aggregate = ['count']

# # We will want to group by first actor
df_first_actor_grouped=df.groupby(grouping_columns )['first_actor'].agg(['count']) 
df_first_actor_grouped=df_first_actor_grouped.sort_values(by=sort_by_aggregate, ascending=False)
print(df_first_actor_grouped)

In [67]:
grouping_columns = ['first_genre']
sort_by_aggregate = ['count']

# # We will want to group by first genre
df_first_genre_grouped=df.groupby(grouping_columns )['first_actor'].agg(['count']) 
df_first_genre_grouped=df_first_genre_grouped.sort_values(by=sort_by_aggregate, ascending=False)
print(df_first_genre_grouped)

             count
first_genre
Action         293
Drama          195
Comedy         175
Adventure       75
Crime           71
Biography       64
Animation       49
Horror          46
Mystery         13
Thriller        10
Fantasy          4
Sci-Fi           3
Romance          2