In [ ]:
# import pandas as pd
# import matplotlib.pyplot as plt
# filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952.csv'
# df = pd.read_csv(filename)

In [ ]:
# print(df)

In [ ]:
# df.groupby('operator').size()

In [ ]:
# operators = ['Aeroflot', 'China Air Lines']
# df.groupby('operator')['operator'].size().isin(operators)

In [ ]:
# this works
import pandas as pd
import matplotlib.pyplot as plt
#filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952.csv'
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/purchases.csv'
df = pd.read_csv(filename)

In [ ]:
# this works too!!!
df2 = df['ad_views']
# plt.ylim([40, 80])
plt.ylabel('Stuff')
# plt.plot(df2, color='green')
# plt.scatter(x = df['ad_views'], y = df['items_purchased'])
plt.hist(df2)
plt.show()

In [ ]:
print(df2)

In [ ]:
# Build our histogram. Let's go ahead and set the color too.
plt.hist(df['ad_views'], bins=40, color='blue')
plt.title('Great Demo Demo')
plt.xlabel('Random Values')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/drugsComTest_raw.tsv'

# filename = './drugsComTest_raw.tsv'
# df = pd.read_csv(filename, sep='\t', lineterminator='\r')
df = pd.read_csv(filename, sep='\t')
# print(df['usefulCount'])
# stuff = pd.DataFrame([usefulCount])
# print(stuff)
# Build our histogram. Let's go ahead and set the color too.
plt.plot(df['usefulCount'], color='blue')
plt.title('Drug Test Comments')
plt.xlabel('Comment Useful Counts')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952_clean.csv'
# df = pd.read_csv(filename, encoding='UTF-16', quotechar='"')
df = pd.read_csv(filename, quotechar='"')
# print(df)

In [ ]:
# df['country_code'].head(20)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952_clean.csv'
crashes = pd.read_csv(filename, quotechar='"')
# print(df)

In [ ]:
crashes["operator"].head(2)

In [ ]:
crashes.head(3)

In [ ]:
crashes[['operator', 'Country', 'country_code', 'fatal_count']].head(10)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952_clean.csv'
crashes = pd.read_csv(filename, quotechar='"')
operators = ['Aeroflot', 'China Air Lines', 'China Airlines', 'China Eastern Airlines']
aeroflot = ['Aeroflot']
country_codes = [1900, 4310]
countries = ['China', 'Russia', 'USSR']
crash_commies = crashes.loc[crashes['country_code'].isin(country_codes)]
crash_aeroflot = crashes.loc[crashes['operator'].isin(aeroflot)].head(10)
crash_aeroflot2 = crash_aeroflot[['country_code', 'fatal_count']]
# result = df.sort(['A', 'B'], ascending=[1, 0])
crash_aerflot2  = crash_aeroflot2.sort(['country_code', 'fatal_count'], ascending=[1, 1])
# df = pd.DataFrame(my_array) # this is key
df = pd.DataFrame(crash_aeroflot2)
# print(df)
df = df.sort(['aboard_count', 'fatal_count'], ascending=[1,1])
# print(df[['aboard_count', 'fatal_count']])
# print(crash_aeroflot[['fatal_count', 'aboard_count']].head(10))
pd.set_option('display.max_rows', 50)
# plt.hist(df['ad_views'], bins=40, color='blue')
# crash_commies[[ 'fatal_count']].head(5)
# df2 = df['ad_views']
# plt.xlim([0, 2000])
# plt.ylim(30,200)
plt.ylabel('Fatalies')
plt.xlabel('Locations')
# plt.plot(df, color='green')
plt.scatter(x = df['country_code'], y = df['fatal_count'])
# plt.hist(df['fatal_count'])
# plt.show()
# # print(df['fatal_count'])
# print(crash_aeroflot[['date', 'time','fatal_count']])

In [ ]:
import pandas as pd
import numpy as np
# df.columns = ['CrashYear', 'FatalCount']
# df.index = ['Alabama', 'California', 'Oklahoma']
# df
# date1 = '20-Feb-44'
# # pd.to_datetime(df.faultDate).dt.year
# pd.to_datetime(date1).dt.year

my_array = np.array([['Montgomery','Yellohammer state',52423],
                     ['Sacramento','Golden state',163707],
                     ['Oklahoma City','Sooner state',69960 ]])

my_array2 = np.array([['Montgomery','Yellohammer state',52423, '23-Feb-44'],
                     ['Sacramento','Golden state',163707, '19-Jul-18'],
                     ['Oklahoma City','Sooner state',69960, '20-Jan-20' ]])
df = pd.DataFrame(my_array)
df2= pd.DataFrame(my_array2)


df.columns = ['Capital', 'Nickname','Area']
df.index = ['Alabama', 'California', 'Oklahoma']
print(df)
print(df2)

In [ ]:
# From https://stackoverflow.com/questions/32791098/how-to-scatter-plot-series-using-pandas
import numpy as np
import matplotlib.pyplot as plt
np.random.seed(1)

year = [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]
value = np.random.rand(23)

ser =  pd.Series(index = year,data=value)
df =ser.to_frame()

df.reset_index(inplace=True)
df.columns = ['year','value']
df.plot(kind='scatter',x='year',y='value')
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952_clean.csv'
crashes_data = pd.read_csv(filename)
# print(crashes_data.columns)
crashes_data['ac_type'].unique()
crashes_data = crashes_data.dropna(subset=['ac_type'])
crashes_data['ac_type'].unique()

In [ ]:
my_array = np.array([['Montgomery','Yellohammer state', 52423],
                    ['Sacramento', 'Golden State', 16307],
                    ['Oklahoma City', 'Sooner state', 69960]])
df = pd.DataFrame(my_array)
df.columns = ['Capital', 'Nickname', 'Area']
df.index   = ['Alabama', 'California', 'Oklahoma']
# df
df2 = pd.DataFrame(
        my_array,
        columns=['Capital', 'Nickname', 'Area'],
        index=['Alabama', 'California', 'Oklahoma'])
df2.Capital

In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
filename = '/Users/lou/GITHubProjects/Thinkful/Datafiles/planecrashinfo_20181121001952_clean.csv'
# crashes = pd.read_csv(filename, quotechar='"')
crashes = pd.read_csv(filename)
crashes_df = crashes[['country_code', 'operator_code', 'ac_type', 'aboard_count', 'fatal_count', 'ground']]

# let's remove all the NaN's for the numeric data types
crashes_df = crashes_df.dropna(subset=['aboard_count'])
crashes_df = crashes_df.dropna(subset=['fatal_count'])  
crashes_df = crashes_df.dropna(subset=['ground'])

# let's strip off all leading and trailing spaces from the numeric data types
crashes_df = crashes_df[(crashes_df['aboard_count'].str.strip() != '?')] # remove unknown aboard_cont
crashes_df = crashes_df[(crashes_df['ground'].str.strip()       != '?')]       # remove unknown ground count
crashes_df = crashes_df[(crashes_df['fatal_count'].str.strip()  != '?')]  # remove unknown fatal_count

# let's convert all of these numeric data types to numerics
crashes_df['ground']       = pd.to_numeric(crashes_df['ground'])
crashes_df['aboard_count'] = pd.to_numeric(crashes_df['aboard_count'])
crashes_df['fatal_count']  = pd.to_numeric(crashes_df['fatal_count'])
print("there are now {} clean rows of data in crashes_df.".format(len(crashes_df)))
print(crashes_df.columns)

there are now 5719 clean rows of data in crashes_df.
Index(['country_code', 'operator_code', 'ac_type', 'aboard_count',
       'fatal_count', 'ground'],
      dtype='object')

In [133]:
crashes_df2 = crashes_df[(crashes_df['aboard_count'].  > 20)

# len(crashes_df)


crashes_df2.head(10)

,country_code,operator_code,ac_type,aboard_count,fatal_count,ground
6,1000,14910.0,Lockheed 1049H Super Constellation,99,99,0
7,1010,3180.0,Boeing B-747-237B,329,329,0
8,1020,3070.0,Latecoere 631 (flying boat),52,52,0
9,1030,26930.0,Douglas DC-6A,58,58,0
10,1040,3070.0,Airbus A330-203,228,228,0
11,1050,5950.0,Boeing 314A,69,0,0
12,1060,11750.0,Douglas DC-3,24,22,0
13,1070,25490.0,Sud-Aviation Caravelle III,80,80,0
16,1100,6350.0,Douglas DC-3,21,21,0
19,1100,18530.0,Antonov AN-12V,45,45,0

In [78]:
# this did not fly -- i got error messages like:
#TypeError: '<' not supported between instances of 'str' and 'int'
# column_scrub_list = ['aboard_count', 'fatal_count']
print("zero_list_column={}".format(zero_list_column))
print("crashes_df_count before {}".format(len(crashes_df)))
# car_data = car_data[(car_data['modelLine'] != 'undefined')] # string comparisons worked fine

# crashes_df = crashes_df[(crashes_df['aboard_count']  < 20)]
# print("crashes_df_count after {}".format(len(crashes_df)))
crashes_df.columns

zero_list_column=aboard_count
crashes_df_count before 5731

Index(['country_code', 'operator_code', 'ac_type', 'aboard_count',
       'fatal_count', 'ground'],
      dtype='object')

In [140]:
# group_by_country_code = crashes_df[['country_code','aboard_count','fatal_count','ground']].groupby(['country_code'])
group_by_country_code  = crashes_df.groupby(by=['country_code'])
group_by_operator_code = crashes_df.groupby(by=['operator_code'])
group_by_country_code[['country_code','ground', 'aboard_count', 'fatal_count']].head(10)
# group_by_ac_type       = crashes_df.groupby(by=['ac_type'])
crashes_data_avg_country  = group_by_country_code.mean()
# crashes_data_avg_operator  = group_by_operator_code.mean()
# crashes_data_avg_ac_type  = group_by_ac_type.mean()
# crashes_data_count_country  = group_by_country_code.count()
# crashes_data_count_operator  = group_by_operator_code.count()
# crashes_data_count_ac_type  = group_by_ac_type.count()

In [79]:
print("group_by_country_code count = {}".format(len(group_by_country_code)))
print("group_by_operator_code count = {}".format(len(group_by_operator_code)))
print("group_by_ac_type count = {}".format(len(group_by_ac_type)))
print("crashes_data_count_ac_type count = {}".format(len(crashes_data_count_ac_type)))
group_by_country_code.columns

group_by_country_code count = 444
group_by_operator_code count = 2791
group_by_ac_type count = 2720
crashes_data_count_ac_type count = 2720

AttributeError: Cannot access attribute 'columns' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [80]:
# # crashes_data_avg_country.head(20)
# print(crashes_data_avg_country)
# crashes_data_avg_country.columns

In [82]:
x = 'this is good'
if x.isalpha:
    print('good')

good

df.columns

In [83]:
df.columns

NameError: name 'df' is not defined

In [124]:
# pd.to_numeric(crashes_df['aboard_count']).head(20)
crashes_df['aboard_count'].head(10)
# crashes.columns

0       1
2       4
3       3
4       2
5       3
6      99
7     329
8      52
9      58
10    228
Name: aboard_count, dtype: object

In [125]:
crashes_df.columns

Index(['country_code', 'operator_code', 'ac_type', 'aboard_count',
       'fatal_count', 'ground', 'ground2'],
      dtype='object')

In [127]:
crashes_df['aboard_count'] = pd.to_numeric(crashes_df['aboard_count'])

In [128]:
crashes_df['aboard_count'].head(10)

0       1
2       4
3       3
4       2
5       3
6      99
7     329
8      52
9      58
10    228
Name: aboard_count, dtype: int64